.rank {
    text-align: right !important;
  }
  .rank1 {
    background-color: #98fb98 !important;
  }
  .rank2 {
    background-color: #FFFF99 !important;
  }
  .rank3 {
    background-color: #FF7F7F !important;
  }