<!--
<HeaderContainer
<Header aria-label="IBM Platform Name">
  <SkipToContent />
  <HeaderMenuButton
    aria-label="Open menu"
    onClick={onClickSideNavExpand}
    isActive={isSideNavExpanded}
  />
  <HeaderName element={Link} to="/" prefix="FPL2021">
  Home
  </HeaderName>
  <HeaderNavigation aria-label="FPL2021">
    { isLoggedIn &&
    <HeaderMenuItem isCurrentPage={location.pathname==='/input'} element={Link} to="/input">Input</HeaderMenuItem>
  }
    <HeaderMenuItem isCurrentPage={location.pathname==='/championship'} element={Link} to="/championship">Championship</HeaderMenuItem>
    <HeaderMenuItem isCurrentPage={location.pathname==='/predictions'} element={Link} to="/predictions">Predictions</HeaderMenuItem>
    { facebookName === 'Simon East' &&
    <HeaderMenuItem isCurrentPage={location.pathname==='/admin'} element={Link} to="/admin">Admin</HeaderMenuItem>
    }
  </HeaderNavigation>
  <SideNav
    aria-label="Side navigation"
    expanded={isSideNavExpanded}
    isPersistent={false}>
    <SideNavItems>
      <HeaderSideNavItems>
        { isLoggedIn &&
        <HeaderMenuItem isCurrentPage={location.pathname==='/input'} element={Link} to="/input">Input</HeaderMenuItem>
        }
        <HeaderMenuItem isCurrentPage={location.pathname==='/championship'} element={Link} to="/championship">Championship</HeaderMenuItem>
        <HeaderMenuItem isCurrentPage={location.pathname==='/predictions'} element={Link} to="/predictions">Predictions</HeaderMenuItem>
        { facebookName === 'Simon East' &&
          <HeaderMenuItem isCurrentPage={location.pathname==='/admin'} element={Link} to="/admin">Admin</HeaderMenuItem>
        }
    </HeaderSideNavItems>
    </SideNavItems>
  </SideNav>    
  { facebookPicture !== null &&
  <img src={facebookPicture} width="50" height="50" />
  }  
</Header>
/>    
-->
<ibm-header name="FPL2021">
    <ibm-header-navigation ariaLabel="FPL2021 Home">
      <ibm-header-item [route]="['/input']">Input</ibm-header-item>
      <ibm-header-item [route]="['/championship']">Championship</ibm-header-item>
      <ibm-header-item [route]="['/predictions']">Predictions</ibm-header-item>
      <ibm-header-item [route]="['/admin']">Admin</ibm-header-item>
    </ibm-header-navigation>
  </ibm-header>