<ibm-select #weeks (change)="selectWeek(weeks.value)" label="Week">
    <option *ngFor="let item of [].constructor(38); let i = index" [value]="i+1">{{i+1}}</option>
</ibm-select>
<table ibmTable [sortable]="false" style="width: 100%;" size="sm">
    <thead ibmTableHead>
        <tr>
            <th
                scope="col"
                *ngFor="let column of columns$ | async"
                >{{column}}
            </th>
        </tr>
    </thead>
    <tbody ibmTableBody>
        <tr
            *ngFor="let fixture of weekdata"
            ibmTableRow
            >
            <td *ngFor="let column of columns$ | async; let j = index" 
            [ngSwitch]="column"
            [class]="getClassName(column,fixture)">
                <span *ngSwitchCase="'Fixture'">{{fixture.team_h_name}} v {{fixture.team_a_name}}</span>
                <span *ngSwitchCase="'Score'">{{fixture.team_h_score}}-{{fixture.team_a_score}}</span>
                <span *ngSwitchCase="'Result'">{{fixture.result}}</span>
                <span *ngSwitchCase="'Odds'">{{fixture.odds?.value}}</span>
                <span *ngSwitchDefault>
                    <span *ngIf="fixture.predictions[column]">{{fixture.predictions[column].team_h_score}}-{{fixture.predictions[column].team_a_score}}</span>
                </span>    
            </td>
        </tr>
        <tr *ngIf="weekdata.length > 0">
            <td
            scope="col"
            *ngFor="let column of columns$ | async"
            >{{getTotal(column)}}</td>
        </tr>
    </tbody>
</table>
<button ibmButton="primary" (click)="reloadData">Reload</button>