/* You can add global styles to this file, and also import other style files */
@import 'carbon-components/scss/globals/scss/styles';

/* not finding these essential styles, so include mnually */
.cds--header {
    align-items:center;
    background-color:var(--cds-background,#f4f4f4);
    border-bottom:1px solid var(--cds-border-subtle);
    display:flex;
    height:3rem;
    left:0;
    position:fixed;
    right:0;
    top:0;
    z-index:8000
}
.cds--content {
    color:var(--cds-text-primary,#161616);
    padding:2rem;
    will-change:margin-left
}
.cds--header~.cds--content {
    margin-top:3rem
}
   